language: c
sudo: required
notifications:
  email: false

services:
  - docker

env:
  - DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
  - DOCKER_IMAGE=quay.io/pypa/manylinux1_i686

install:
  - docker pull $DOCKER_IMAGE

script:
  - docker run --rm `pwd`:/io $DOCKER_IMAGE bash /io/travis/build-wheels.sh
  - ls wheelhouse/
